<template>
  <div
    :class="[
      'app-error-message toast align-items-center text-white bg-danger border-0 m-3',
      toastClass,
    ]"
    role="alert"
    aria-live="assertive"
    aria-atomic="true"
  >
    <div class="d-flex">
      <div class="toast-body">{{ message }}</div>
      <button
        type="button"
        class="btn-close btn-close-white me-2 m-auto"
        aria-label="Close"
        @click="closeToast"
      ></button>
    </div>
  </div>
</template>

<script>
import { mapMutations } from "vuex";
import { M_REMOVE_ERROR } from "../../store/mutation.types";

export default {
  name: "AppErrorMessage",
  props: {
    index: {
      type: Number,
    },
    message: {
      type: String,
    },
  },
  computed: {
    toastClass() {
      return this.message ? "show" : "hide";
    },
  },
  methods: {
    ...mapMutations("general", [M_REMOVE_ERROR]),
    closeToast() {
      this.M_REMOVE_ERROR(this.index);
    },
  },
};
</script>
