<template>
  <header class="app-header">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <router-link class="navbar-brand" to="/">JokeApp</router-link>
        <button
          :class="['navbar-toggler', { collapsed: !isMenuOpen }]"
          type="button"
          aria-controls="navbarNav"
          aria-label="Toggle navigation"
          @click="toggleMenu"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div
          :class="[
            'collapse navbar-collapse justify-content-end',
            { show: isMenuOpen },
          ]"
          id="navbarNav"
        >
          <ul class="navbar-nav">
            <li class="nav-item">
              <router-link
                class="nav-link"
                active-class="active"
                exact-path
                to="/"
              >
                Jokes
              </router-link>
            </li>
            <li class="nav-item">
              <router-link
                class="nav-link"
                active-class="active"
                exact-path
                to="/about"
              >
                About
              </router-link>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
</template>

<script>
export default {
  name: "AppHeader",
  data() {
    return {
      isMenuOpen: false,
    };
  },
  methods: {
    toggleMenu() {
      this.isMenuOpen = !this.isMenuOpen;
    },
  },
};
</script>
