<template>
  <div class="app-page-loader">
    <div class="text-center">
      <div class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "AppPageLoader",
};
</script>

<style lang="scss">
.app-page-loader {
  align-items: center;
  background: rgba(255, 255, 255, 0.8);
  display: flex;
  height: 100vh;
  justify-content: center;
  left: 0;
  position: fixed;
  top: 0;
  transition: opacity 0.3s linear;
  width: 100%;
  z-index: 9999;

  .spinner-border {
    width: 7rem;
    height: 7rem;
    border-width: 0.45em;
  }
}
</style>
