<template>
  <div class="joke-card">
    <div class="card">
      <div class="card-header" v-if="title">{{ title }}</div>
      <div class="card-body">
        <p class="card-text" v-if="jokeItem.joke">{{ jokeItem.joke }}</p>
        <div v-else-if="jokeItem.setup && jokeItem.delivery">
          <p class="card-text">{{ jokeItem.setup }}</p>
          <transition name="slide-fade">
            <p v-show="isDeliveryVisible" class="card-text">
              {{ jokeItem.delivery }}
            </p>
          </transition>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { JOKE_DELIVERY_DELAY } from "../../settings/app.settings";

export default {
  name: "JokeCard",
  watch: {
    jokeItem: {
      handler() {
        this.clearJokeDelivery();
        this.showJokeDelivery();
      },
      deep: true,
    },
  },
  props: {
    title: {
      type: String,
    },
    jokeItem: {
      type: Object,
    },
  },
  data() {
    return {
      timeout: null,
      isDeliveryVisible: false,
    };
  },
  methods: {
    showJokeDelivery() {
      this.timeout = setTimeout(() => {
        this.isDeliveryVisible = true;
      }, JOKE_DELIVERY_DELAY);
    },
    clearJokeDelivery() {
      if (this.timeout) {
        clearTimeout(this.timeout);
      }
      this.isDeliveryVisible = false;
    },
  },
  mounted() {
    this.showJokeDelivery();
  },
  beforeDestroy() {
    clearTimeout(this.timeout);
  },
};
</script>

<style lang="scss">
.slide-fade-enter-active {
  transition: all 0.3s ease;
}
.slide-fade-leave-active {
  transition: all 0s cubic-bezier(1, 0.5, 0.8, 1);
}
.slide-fade-enter,
.slide-fade-leave-to {
  transform: translateX(10px);
  opacity: 0;
}
</style>
