<template>
  <div class="joke-search">
    <base-input
      label="Search jokes"
      placeholder="Search"
      id="joke-search"
      @input="searchJokes"
    />
  </div>
</template>

<script>
import { mapMutations } from "vuex";
import { M_UPDATE_JOKE_SEARCH } from "../../store/mutation.types";
import BaseInput from "../Base/BaseInput";

export default {
  name: "JokeSearch",
  components: {
    BaseInput,
  },
  methods: {
    ...mapMutations("jokes", [M_UPDATE_JOKE_SEARCH]),
    searchJokes(searchStr) {
      this.M_UPDATE_JOKE_SEARCH(searchStr);
    },
  },
  beforeDestroy() {
    this.M_UPDATE_JOKE_SEARCH("");
  },
};
</script>
