<template>
  <div class="joke-table">
    <div class="container">
      <div class="joke-table__top">
        <div class="row">
          <div class="col-md-6 mb-3">
            <joke-search />
          </div>
          <div class="col-md-6 mb-3">
            <joke-filter />
          </div>
        </div>
      </div>

      <div class="joke-table__body">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Category</th>
              <th scope="col">Joke</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="item in paginatedList" :key="item.id">
              <td>{{ item.category }}</td>
              <td v-if="item.joke">
                {{ item.joke }}
              </td>
              <td v-else-if="item.setup && item.delivery">
                <p>{{ item.setup }}</p>
                <p>{{ item.delivery }}</p>
              </td>
              <td>
                <a :href="prepareEmail(item)">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="16"
                    height="16"
                    fill="currentColor"
                    class="bi bi-share-fill"
                    viewBox="0 0 16 16"
                  >
                    <path
                      d="M11 2.5a2.5 2.5 0 1 1 .603 1.628l-6.718 3.12a2.499 2.499 0 0 1 0 1.504l6.718 3.12a2.5 2.5 0 1 1-.488.876l-6.718-3.12a2.5 2.5 0 1 1 0-3.256l6.718-3.12A2.5 2.5 0 0 1 11 2.5z"
                    />
                  </svg>
                </a>
              </td>
            </tr>
          </tbody>
        </table>
        <div class="joke-table__pagination" v-if="pageCount > 1">
          <nav>
            <ul class="pagination">
              <li :class="['page-item', { disabled: isFirstPage }]">
                <a
                  class="page-link"
                  aria-label="First"
                  href="#"
                  @click.prevent="goToFirstPage"
                >
                  <span aria-hidden="true">&laquo;&laquo;</span>
                </a>
              </li>
              <li :class="['page-item', { disabled: isFirstPage }]">
                <a
                  class="page-link"
                  aria-label="Previous"
                  href="#"
                  @click.prevent="goToPrevPage"
                >
                  &laquo;
                </a>
              </li>
              <li :class="['page-item', { disabled: isLastPage }]">
                <a
                  class="page-link"
                  aria-label="Next"
                  href="#"
                  @click.prevent="goToNextPage"
                >
                  &raquo;
                </a>
              </li>
              <li :class="['page-item', { disabled: isLastPage }]">
                <a
                  class="page-link"
                  aria-label="Last"
                  href="#"
                  @click.prevent="goToLastPage"
                >
                  <span aria-hidden="true">&raquo;&raquo;</span>
                </a>
              </li>
            </ul>
          </nav>
        </div>
        <p class="joke-table__empty" v-if="!list.length">No jokes found</p>
      </div>
    </div>
  </div>
</template>

<script>
import { mapMutations } from "vuex";
import {
  M_UPDATE_JOKE_FILTER,
  M_UPDATE_JOKE_SEARCH,
} from "../../store/mutation.types";
import JokeFilter from "./JokeFilter";
import JokeSearch from "./JokeSearch";

export default {
  name: "JokeTable",
  components: {
    JokeFilter,
    JokeSearch,
  },
  props: {
    list: {
      type: Array,
      default() {
        return [];
      },
    },
    size: {
      type: Number,
      required: false,
      default: 5,
    },
  },
  data() {
    return {
      pageNumber: 1,
      paginatedList: this.list,
      search: "",
      filter: "All",
    };
  },
  watch: {
    list() {
      this.goToFirstPage();
    },
  },
  computed: {
    pageCount() {
      const size = this.size;
      return Math.ceil(this.list.length / size);
    },
    isFirstPage() {
      return this.pageNumber === 1;
    },
    isLastPage() {
      return this.pageNumber === this.pageCount;
    },
  },
  methods: {
    ...mapMutations("jokes", [M_UPDATE_JOKE_SEARCH, M_UPDATE_JOKE_FILTER]),
    goToNextPage() {
      if (!this.isLastPage) {
        this.pageNumber++;
        this.updatePagination();
      }
    },
    goToPrevPage() {
      if (!this.isFirstPage) {
        this.pageNumber--;
        this.updatePagination();
      }
    },
    goToFirstPage() {
      this.pageNumber = 1;
      this.updatePagination();
    },
    goToLastPage() {
      this.pageNumber = this.pageCount;
      this.updatePagination();
    },
    updatePagination() {
      const start = (this.pageNumber - 1) * this.size;
      const end = start + this.size;

      this.paginatedList = this.list.slice(start, end);
    },
    prepareEmail(item) {
      if (item.joke) {
        return `mailto:?subject=It%20is%20so%20funny!&body=${item.joke}`;
      } else {
        return `mailto:?subject=It%20is%20so%20funny!&body=${item.setup}%20${item.delivery}`;
      }
    },
  },
  mounted() {
    this.goToFirstPage();
  },
};
</script>

<style lang="scss">
.joke-table {
  &__top {
    margin-bottom: 10px;
  }
}
</style>
