<template>
  <div class="joke-filter">
    <base-select
      :list="[defaultOption, ...GET_JOKE_CATEGORIES]"
      :value="defaultOption"
      label="Filter jokes"
      id="joke-filter"
      @input="filterJokes"
    />
  </div>
</template>

<script>
import { mapMutations, mapGetters } from "vuex";
import { M_UPDATE_JOKE_FILTER } from "../../store/mutation.types";
import { GET_JOKE_CATEGORIES } from "../../store/getter.types";
import BaseSelect from "../Base/BaseSelect";

export default {
  name: "JokeFilter",
  components: {
    BaseSelect,
  },
  data() {
    return {
      defaultOption: "All",
    };
  },
  computed: {
    ...mapGetters("jokes", [GET_JOKE_CATEGORIES]),
  },
  methods: {
    ...mapMutations("jokes", [M_UPDATE_JOKE_FILTER]),
    filterJokes(value) {
      this.M_UPDATE_JOKE_FILTER(value);
    },
  },
  beforeDestroy() {
    this.M_UPDATE_JOKE_FILTER(this.defaultOption);
  },
};
</script>
