<template>
  <div class="about-developer">
    <div class="container">
      <h1>Artsiom Markouski</h1>
      <h3 class="mb-4">Frontend Developer</h3>
      <p>
        I’m a Frontend Engineer with over 4 years of experience working on the
        front-end part of Websites and Web Applications. I have excellent
        communication skills, responsible, self-disciplined, self-managed,
        conflict-avoiding, and always open and seeking for new knowledge. I have
        a full understanding of the process of commercial software engineering,
        the life cycles in system development and the importance of timely
        reports. I’m experienced in requirements analysis, effort estimation and
        task scheduling.
      </p>
      <p>
        This project is written using my favorite JavaScript framework Vue.js 2.
        Enjoy the app!
      </p>
      <p>
        <strong>Link to the source code</strong>:
        <a href="https://gitlab.com/zmutnik/joke-app" target="_blank">
          GitLab
        </a>
      </p>
      <p>
        <strong>Link to the demo</strong>:
        <a href="https://zmutnik.gitlab.io/joke-app" target="_blank">
          GitLab Pages
        </a>
      </p>
    </div>
  </div>
</template>

<script>
export default {
  name: "AboutDeveloper",
};
</script>
