<template>
  <div class="about">
    <about-developer />
  </div>
</template>

<script>
import AboutDeveloper from "../components/About/AboutDeveloper";

export default {
  name: "About",
  components: {
    AboutDeveloper,
  },
};
</script>
