<template>
  <div class="jokes">
    <joke-table :list="GET_JOKES" />
  </div>
</template>

<script>
import { mapGetters } from "vuex";
import { GET_JOKES } from "../store/getter.types";
import JokeTable from "../components/Joke/JokeTable";

export default {
  name: "Jokes",
  components: {
    JokeTable,
  },
  computed: {
    ...mapGetters("jokes", [GET_JOKES]),
  },
};
</script>
