<template>
  <div class="base-input">
    <label v-if="label" :for="id" class="form-label">
      {{ label }}
    </label>
    <input
      :value="value"
      @input="input"
      :type="type"
      :class="inputClass"
      :id="id"
      :placeholder="placeholder"
    />
  </div>
</template>

<script>
export default {
  name: "BaseInput",
  props: {
    value: {
      type: String,
      default: "",
    },
    id: {
      type: String,
    },
    type: {
      type: String,
      default: "text",
    },
    placeholder: {
      type: String,
      default: "",
    },
    label: {
      type: String,
    },
    inputClass: {
      type: String,
      default: "form-control",
    },
  },
  methods: {
    input(event) {
      this.$emit("input", event.target.value);
    },
  },
};
</script>

<style lang="scss">
.base-input {
  .form-label {
    cursor: pointer;
  }
}
</style>
