<template>
  <div class="base-select">
    <label v-if="label" :for="id" class="form-label">{{ label }}</label>
    <select :id="id" :class="selectClass" @change="change" :value="value">
      <option v-for="item in list" :value="item" :key="item">
        {{ item }}
      </option>
    </select>
  </div>
</template>

<script>
export default {
  name: "BaseSelect",
  props: {
    value: {
      type: String,
    },
    id: {
      type: String,
    },
    label: {
      type: String,
    },
    list: {
      type: Array,
      default() {
        return [];
      },
    },
    selectClass: {
      type: String,
      default: "form-select",
    },
  },
  methods: {
    change(event) {
      this.$emit("input", event.target.value);
    },
  },
};
</script>

<style lang="scss">
.base-select {
  .form-label,
  select {
    cursor: pointer;
  }
}
</style>
