<template>
  <div class="joke-app">
    <div class="joke-app__inner" v-if="!GET_PAGE_LOADER_STATUS">
      <div class="joke-app__header">
        <app-header />
      </div>

      <div class="joke-app__body">
        <div class="joke-app__reload">
          <div class="container">
            <button
              type="button"
              class="joke-app__reload-btn btn btn-warning"
              @click="loadJokes"
            >
              <span>Reload Jokes</span>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                class="bi bi-arrow-repeat"
                viewBox="0 0 16 16"
              >
                <path
                  d="M11.534 7h3.932a.25.25 0 0 1 .192.41l-1.966 2.36a.25.25 0 0 1-.384 0l-1.966-2.36a.25.25 0 0 1 .192-.41zm-11 2h3.932a.25.25 0 0 0 .192-.41L2.692 6.23a.25.25 0 0 0-.384 0L.342 8.59A.25.25 0 0 0 .534 9z"
                />
                <path
                  fill-rule="evenodd"
                  d="M8 3c-1.552 0-2.94.707-3.857 1.818a.5.5 0 1 1-.771-.636A6.002 6.002 0 0 1 13.917 7H12.9A5.002 5.002 0 0 0 8 3zM3.1 9a5.002 5.002 0 0 0 8.757 2.182.5.5 0 1 1 .771.636A6.002 6.002 0 0 1 2.083 9H3.1z"
                />
              </svg>
            </button>
          </div>
        </div>

        <div class="joke-app__random-joke" v-if="randomJoke">
          <div class="container">
            <joke-card title="Random Joke" :joke-item="randomJoke" />
          </div>
        </div>

        <div class="joke-app__content">
          <router-view />
        </div>
      </div>
    </div>
    <app-page-loader v-else />

    <transition-group
      tag="div"
      name="toast"
      mode="out-in"
      class="app__errors bottom-0 end-0 position-fixed m-3"
    >
      <app-error-message
        v-for="(error, index) in GET_ERRORS"
        :message="error"
        :key="`${error}-${Math.random()}`"
        :index="index"
        class="app__errors-item"
      />
    </transition-group>
  </div>
</template>

<script>
import { RANDOM_JOKE_UPDATE_DELAY } from "./settings/app.settings";
import { mapMutations, mapActions, mapGetters } from "vuex";
import { A_FETCH_JOKES } from "./store/action.types";
import { M_UPDATE_PAGE_LOADER, M_CLEAR_ERRORS } from "./store/mutation.types";
import {
  GET_ERRORS,
  GET_JOKES,
  GET_PAGE_LOADER_STATUS,
} from "./store/getter.types";
import AppErrorMessage from "./components/App/AppErrorMessage";
import AppPageLoader from "./components/App/AppPageLoader";
import AppHeader from "./components/App/AppHeader";
import JokeCard from "./components/Joke/JokeCard";

export default {
  name: "App",
  components: {
    AppPageLoader,
    AppHeader,
    AppErrorMessage,
    JokeCard,
  },
  data() {
    return {
      randomJoke: null,
      interval: null,
    };
  },
  computed: {
    ...mapGetters("jokes", [GET_JOKES]),
    ...mapGetters("general", [GET_PAGE_LOADER_STATUS, GET_ERRORS]),
  },
  methods: {
    ...mapActions("jokes", [A_FETCH_JOKES]),
    ...mapMutations("general", [M_UPDATE_PAGE_LOADER, M_CLEAR_ERRORS]),
    getRandomJoke() {
      this.randomJoke = this.GET_JOKES[
        Math.floor(Math.random() * this.GET_JOKES.length)
      ];
    },
    async loadJokes() {
      this.M_CLEAR_ERRORS();
      this.M_UPDATE_PAGE_LOADER(true);

      await this.A_FETCH_JOKES();
      this.getRandomJoke();

      if (this.interval) {
        clearInterval(this.interval);
      }
      this.interval = setInterval(this.getRandomJoke, RANDOM_JOKE_UPDATE_DELAY);

      this.M_UPDATE_PAGE_LOADER(false);
    },
  },
  mounted() {
    this.loadJokes();
  },
  beforeDestroy() {
    clearInterval(this.interval);
  },
};
</script>

<style lang="scss">
.joke-app {
  flex-grow: 1;

  &__body {
    padding: 50px 0;
  }
  &__random-joke {
    margin-bottom: 50px;
  }
  &__reload {
    margin-bottom: 20px;

    &-btn {
      span {
        margin-right: 5px;
      }
    }
  }
  .toast-enter-active {
    opacity: 0;
    transition: all 1s ease-out;
  }
  .toast-enter-to {
    opacity: 1;
  }
  .toast-leave {
    opacity: 1;
    transition: all 0.7s ease-out;
  }
  .toast-leave-to {
    opacity: 0;
  }
}
</style>
